<%= render "shared/header" %>
<div class="bat">
<%= image_tag "park3.jpeg" %>
</div>
<% if @tools.present? %>
<div class="find">
<h1>検索結果を表示しています</h1>
</div>
<div class="contents row">
    <%= tool_lists(@tools) %>
</div>
<% else %>
<div class="find">
<h1>検索結果はありません</h1>
</div>
<% end %>
